.settings
*.class
.DS_Store
Thumbs.db
/bin
/JEE/TeleConsulta/nbproject/private/
/JEE/TeleConsulta/TeleConsulta-war/nbproject/private/
/JEE/TeleConsulta/TeleConsulta-ejb/nbproject/private/
/JEE/TeleConsulta/TeleConsulta-ejb/build/
/JEE/TeleConsulta/TeleConsulta-ejb/dist/
/JEE/TeleConsulta/TeleConsulta-war/build/
/JEE/TeleConsulta/build/
/JEE/TeleConsulta/TeleConsulta-war/dist/
/JEE/TeleConsulta/dist/
JEE/TeleConsulta/TeleConsulta-ejb/nbproject/project.properties
/JEE/TeleConsulta/nbproject/project.properties
/JEE/TeleConsulta/TeleConsulta-war/nbproject/project.properties
